@bg-base: #4b4c46;

@map-width: image-width("img/map.jpg");
@map-height: image-height("img/map.jpg");

@fg-primary: #000;
@fg-link: #08a;
@ui-bg: #fff;

// night mode:
/*@fg-primary: #efe4d4;
@fg-link: #d0b978;
@ui-bg: #2a2725;*/

@ui-bg-focus: desaturate(mix(@ui-bg, @fg-link, 80%), 90%);
@fg-icon: mix(@fg-link, @fg-primary, 75%);
@ui-padding: 10px;
@ui-nav-height: 41px;
@ui-border-color: mix(@ui-bg, #888, 50%);
@ui-border: 1px solid @ui-border-color;

.prefix(@property, @value) {
    -webkit-@{property}: @value;
    -moz-@{property}: @value;
    -ms-@{property}: @value;
    @{property}: @value;
}