@import "common.less";

.control-container {
    position: fixed;
    top: 0;
    z-index: 11;

    padding: @ui-padding;
    background: @ui-bg;
    border-bottom: @ui-border;
}

.search-container {
    left: 0;
    right: 0;
    height: @ui-nav-height;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
}
.search-container > span {
    display: inline-block;
    width: 25%;
    box-sizing: border-box;
}
.search-area {
    text-align: right;
}
.search-input {
    width: 200px;
    box-sizing: border-box;
}

@search-width: 200px;
.path-container {
    left: 0;
    top: @ui-nav-height - 1;
    min-width: @search-width;
    box-sizing: border-box;
    border-right: @ui-border;
    padding-top: 0;
    display: none;
}
.menu.search-results {
    position: fixed;
    width: @search-width;
}

.path-icon {
    width: 18px;
    line-height: 20px;
    text-align: center;
    color: @fg-icon;
    font-size: 12pt;
    vertical-align: -1px;
}

.features-icon {
    color: @fg-icon;
    font-size: 20px;
    vertical-align: -2px;
    margin: 0 8px 0 5px;
    cursor: pointer;
}
.features-container {
    right: 0;
    top: @ui-nav-height - 1;
    border-left: @ui-border;
    display: none;
}
.feature-row {
    position: relative;
    padding-right: 45px;
    line-height: 18px;
}
.feature-toggle-container {
    position:absolute;
    top: 0;
    right: 0;
}
.feature-toggle {
    font-size: 18px;
    color: @fg-icon;
    margin-left: 5px;
    cursor: pointer;
    &.hidden { visibility: hidden; }
}
