@import "common.less";

#map {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    .prefix(user-select, none);
}

@node-radius: 5px;
.map-node {
    position: absolute;
    z-index: 5;

    margin-left: -@node-radius;
    margin-top: -@node-radius;
    width: @node-radius * 2;
    height: @node-radius * 2;
    border-radius: @node-radius;
    border: 1px solid white;
    cursor: pointer;
    box-sizing: border-box;
}

.map-edge {
    position: absolute;
    z-index: 2;
    height: 2px;
}

.feature-type(@name) {
    .hide-@{name} .map-@{name} { display: none; }
}
.feature-type(@name, @color) {
    .feature-type(@name);
    .map-@{name} { background: @color; }
}
.feature-type-area(@name, @color) {
    .feature-type-area(@name, @color, @color);
}
.feature-type-area(@name, @color, @edge-color) {
    .feature-type(@name, @color);
    .map-edge.map-@{name} {
        background: repeating-linear-gradient(45deg, transparent, transparent 4px, @edge-color 4px, @edge-color 6px);
    }
}

.map-path { background: white; z-index: 3; }
.map-region, .map-landmark { background: white; z-index: 1; }

.feature-type(transport-edge);
.feature-type(node);
.feature-type(area);
.feature-type(grid);
.feature-type(mages-guild, red);
.feature-type(silt-strider, orange);
.feature-type(boat, skyblue);
.feature-type(holamayan, aquamarine);
.feature-type(propylon, lime);
.feature-type(gondola, olivedrab);
.feature-type-area(divine, magenta);
.feature-type-area(almsivi, yellow);
.feature-type-area(mark, black, white);

.map-source, .map-destination {
    background: white;
    .hide-node & { display: block; }
}
.map-path { display: block !important; }

.map-grid {
    position: absolute;
    background: rgba(255,255,255,0.25);
    z-index: 1;
    
    &.map-grid-v {
        top: 0;
        height: @map-height;
        width: 1px;
    }
    &.map-grid-h {
        left: 0;
        height: 1px;
        width: @map-width;
    }
}