@import "common.less";

.menu {
    &.fixed { position: fixed; }

    display: none;
    position: absolute;
    background: @ui-bg;
    border: @ui-border;
    z-index: 12;
    box-sizing: border-box;
    padding: 3px;
    margin: 0;

    & > li {
        list-style: none;
        padding: 3px 7px 3px 5px;
        white-space: nowrap;
        overflow: hidden;

        &.link {
            cursor: pointer;
            &:hover { background: @ui-bg-focus; }
        }
        &.separator {
            border-bottom: @ui-border;
            padding: 0;
            margin: 5px 2px 5px 2px;
        }
    }
}