body {
    margin: 0;
}

#map {
    position: absolute;
    left: 0;
    top: 0;
}

#search {
    position: fixed;
    left: 5px;
    top: 5px;
    z-index: 3;

    padding: 10px;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 5px;
    border-top: 1px solid white;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

.map-node {
    position: absolute;
    z-index: 2;

    margin-left: -6px;
    margin-top: -6px;
    width: 10px;
    height: 10px;
    border-radius: 6px;
    border: 1px solid white;
}

.map-edge {
    position: absolute;
    z-index: 1;

    height: 2px;
}

.map-from { background: purple; }
.map-mages-guild { background: red; }
.map-silt-strider { background: orange; }


