body {
    margin: 0;
}

#map {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

#search {
    position: fixed;
    left: 5px;
    top: 5px;
    z-index: 10;

    padding: 10px;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 5px;
    border-top: 1px solid white;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

.map-node {
    position: absolute;
    z-index: 5;

    margin-left: -6px;
    margin-top: -6px;
    width: 10px;
    height: 10px;
    border-radius: 6px;
    border: 1px solid white;
}

.map-edge {
    position: absolute;
    z-index: 2;

    height: 2px;
}

.map-mark { background: black; }
.map-mages-guild { background: red; }
.map-silt-strider { background: orange; }
.map-boat { background: skyblue; }
.map-holamayan { background: aquamarine; }
.map-gondola { background: olivedrab; }
.map-divine { background: purple; }
.map-path { background: white; z-index: 3; }

.grid {
    position: absolute;
    background: rgba(255,255,255,0.25);
    z-index: 1;
}
.grid.grid-v {
    top: 0;
    height: 1900px;
    width: 1px;
}
.grid.grid-h {
    left: 0;
    height: 1px;
    width: 1650px;
}
